* {
  font-family: "Rubik", sans-serif;
}
*:focus {
  outline: none !important;
}
body {
  background-image: url("./components/images/homeimage2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  font-family: "Rubik", sans-serif;
}
#navbar {
  transition: top 0.3s;
}
.whitebg {
  background-color: #e4e2e2;
}
.noMargin {
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.HomeStyle {
  background-size: 100% 100%;
  height: 95vh;
  margin: 0;
}
.homeMobile {
  background-color: #cfcaca;
  height: auto;
  width: 100%;
  margin: 0;
  border: none;
}
.Title {
  margin-top: 1rem;
}
.homeTitle {
  background: rgba(225, 228, 226, 0.842);
  width: 50vw;
  height: min-content;
  min-height: 70vh;
  position: relative;
  top: 10vh;
}
.showMoreButton {
  position: absolute;
  margin-top: auto;
}
.showMoreButton:hover {
  color: grey;
  background-color: transparent !important;
}
.showMoreButton:active {
  outline: none !important;
}
.MuiSvgIcon-root {
  font-size: 7rem !important;
}
.MuiTouchRipple-root {
  position: relative !important;
}
.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.colAbout {
  height: auto;
  margin: 2vw;
}
.textAbout {
  background-color: #ffffff;
  color: #4d3e3e;
  height: 15rem;
  width: 15rem;
  border-radius: 5px;
}
.aboutImage {
  height: 15rem;
  width: 15rem;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.bigImg {
  height: 30.5rem;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.aboutContainer {
  background-color: #cfcaca;
  padding: 2vh 0;
  min-height: 100vh;
}
.relative {
  position: relative;
  margin-top: 5%;
}
.marginBottom {
  margin-bottom: 0.5rem;
}
.marginTop {
  margin-top: 0.5rem;
}
.Features {
  padding: 5vh 0;
}
.location {
  background-color: #cfcaca;
  padding: 5vh;
}
.location h1 {
  top: 30%;
  left: 0;
  right: 0;
  margin-top: -9px;
}
.location p {
  text-align: left;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -9px;
}
#map {
  width: 50%;
  height: 400px;
  float: right;
  background-color: grey;
}
.galery {
  height: auto;
  padding-top: 2rem;
  background-color: rgb(53, 53, 53);
  color: #f8f8f8;
}
.galery ul{
  text-align: left !important;
}
.galery img {
  width: 50vw !important;
  margin: auto;
  margin-bottom: 5rem;
}
.tarifas {
  min-height: 100vh;
  height: auto;
  padding-bottom: 5rem;
}
.contactos {
  background-color: #4d3e3e;
  color: #f8f8f8;
  min-height: 40vh;
  padding-top: 2 rem;
  text-align: center;
}
.contactosk {
  margin: auto;
}
.icon {
  color: #f8f8f8;
  width: auto !important;
  height: 3rem !important;
}
.copyright {
  margin-top: auto;
}
.link:hover {
  cursor: pointer;
}
#myImg {
  border-radius: 5px;
  transition: 0.3s;
}

